In [4]:
# Import Dependencies
import pandas as pd
import numpy as np

In [5]:
# Reference the file where the CSV is located
file = "Resources/crime_incident_data2017.csv"
# Import the data into a Pandas DataFrame
df_crime = pd.read_csv(file)
df_crime.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
0,NaN,17-X4762181,Person,NaN,1,1/1/96,1/1/96,800,Sex Offenses,1,Rape,NaN,NaN,NaN,NaN,1/26/17,1/1/17
1,NaN,17-X4757824,Property,Centennial,1,1/20/00,1/1/00,1615,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/20/17,1/1/17
2,200 BLOCK OF SE 78TH AVE,17-900367,Property,Montavilla,1,12/1/03,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.5207,-122.583,7668150.0,682825.0,1/9/17,1/1/17
3,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/5/17,1/1/17
4,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Larceny Offenses,1,All Other Larceny,NaN,NaN,NaN,NaN,1/5/17,1/1/17

In [6]:
# look for missing values
df_crime.count()

Address              37365
Case Number          41032
Crime Against        41032
Neighborhood         39712
Number of Records    41032
Occur Date           41032
Occur Month Year     41032
Occur Time           41032
Offense Category     41032
Offense Count        41032
Offense Type         41032
Open Data Lat        36712
Open Data Lon        36712
Open Data X          36712
Open Data Y          36712
Report Date          41032
Report Month Year    41032
dtype: int64

In [7]:
# drop null rows
df_crimedrop = df_crime.dropna(how='any')

In [8]:
# verify counts
df_crimedrop.count()

Address              36146
Case Number          36146
Crime Against        36146
Neighborhood         36146
Number of Records    36146
Occur Date           36146
Occur Month Year     36146
Occur Time           36146
Offense Category     36146
Offense Count        36146
Offense Type         36146
Open Data Lat        36146
Open Data Lon        36146
Open Data X          36146
Open Data Y          36146
Report Date          36146
Report Month Year    36146
dtype: int64

In [14]:
# Check to see if there are any values with mispelled or similar values in "Offense Type"
df_crimedrop['Neighborhood'].value_counts()

Downtown                2666
Hazelwood               2378
Lents                   1315
Old Town/Chinatown      1239
Powellhurst-Gilbert     1233
Northwest               1085
Centennial              1028
Montavilla               976
Pearl                    970
Lloyd                    895
Buckman West             873
Parkrose                 822
Eliot                    689
Richmond                 664
Sunnyside                618
Kerns                    614
Sellwood-Moreland        602
Hosford-Abernethy        598
St Johns                 572
Cully                    564
Goose Hollow             553
Mill Park                522
Brentwood-Darlington     481
Buckman East             471
Foster-Powell            465
Argay                    463
Creston-Kenilworth       459
Madison South            435
Mt Tabor                 400
Hayden Island            400
                        ...
Southwest Hills          141
Cathedral Park           133
Sabin                    122
Homestead                107
Vernon                    97
Alameda                   86
West Portland Park        84
Sunderland                75
Linnton                   72
Bridgeton                 69
Ashcreek                  67
Forest Park               65
Hayhurst                  62
Northwest Industrial      59
Collins View              53
Bridlemile                48
Sylvan-Highlands          41
Maplewood                 38
Ardenwald                 32
Arlington Heights         31
Hillside                  31
South Burlingame          25
Far Southwest             25
Northwest Heights         24
Markham                   22
Arnold Creek              21
Woodland Park             16
Crestwood                  8
Marshall Park              6
Healy Heights              5
Name: Neighborhood, Length: 96, dtype: int64

In [ ]:
# Combine similar offenses

In [16]:
# Create a new DataFrame that looks into a specific neighborhood

dtcrime = df_crimedrop.loc[df_crimedrop["Neighborhood"] == "Downtown", :]
dtcrime.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
32,500 BLOCK OF SW OAK ST,17-900051,Property,Downtown,1,1/31/16,1/1/16,2300,Larceny Offenses,1,Theft From Motor Vehicle,45.5217,-122.677,7644291.0,683795.0,1/2/17,1/1/17
33,1300 BLOCK OF SW WASHINGTON ST,17-4490,Property,Downtown,1,1/3/16,1/1/16,1900,Motor Vehicle Theft,1,Motor Vehicle Theft,45.5223,-122.685,7642167.0,684106.0,1/5/17,1/1/17
63,1100 BLOCK OF SW 2ND AVE,17-27849,Property,Downtown,1,6/1/16,6/1/16,1,Fraud Offenses,1,Identity Theft,45.5150,-122.676,7644326.0,681371.0,1/28/17,1/1/17
86,1000 BLOCK OF SW JEFFERSON ST,17-900855,Property,Downtown,1,9/28/16,9/1/16,2000,Larceny Offenses,1,All Other Larceny,45.5161,-122.685,7642141.0,681831.0,1/22/17,1/1/17
95,1100 BLOCK OF SW 2ND AVE,17-5712,Property,Downtown,1,10/20/16,10/1/16,1200,Robbery,1,Robbery,45.5150,-122.676,7644326.0,681371.0,1/6/17,1/1/17